.ipynb_checkpoints
__pycache__
tmpignore
*.gzip
zip.ipynb
paper.old
*.h5
*.h5 #ignore the model files
CRC_stage.mp
pan-cancer.mp

*/.ipynb_checkpoints/*
*/__pycache__/*
*/tempignore/*

*/org_paper/*


